.box {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: transform 0.5s ease-in;
    transition-property: transform, background-color;
}

.box:hover {
    transform: rotate(90deg) scale(1.5);
    background-color: yellow;
}
ul{
    display: flex;
    gap: 30px;
    font-size: 30px;
    list-style-type: none;
    transition: transform 0.5 ease;
    transition-property: border-radius, transform;
}
.item{
    font-size: 2rem;
    padding: 8px 16px;
}
.item:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10%;
    transform: translateX(-10);

}